#wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 20% 90% 30%;
    grid-template-areas:
        'imgHd h1Hd navHd'
        'imgAs imgMn pAr'
        'imgFt pFt imgFt2'
    ;
}

.imageHeader{
    grid-area: imgHd;

    background-image: url("../img/ccsea.webp");
    background-size: cover;
    background-repeat: no-repeat;
    
    border-style: groove;
    border-width: 10px;
    border-color: #3498db;
}
.h1Header{
    grid-area: h1Hd;

    border-style:groove;
    border-width: 10px;
    border-color: #3498db;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../img/ccsea.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.navHeader{
    grid-area: navHd;
    border-style: groove;
    border-width: 10px;
    border-color: #3498db;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;

    background-image: url("../img/ccsea.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.imageAside{
    grid-area: imgAs;
    background-color: azure;

    border-style: groove;
    border-width: 10px;
    border-color: #3498db;
}
.imageMain{
    grid-area: imgMn;
    background-image: url(../img/skeletone2.jpeg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: contrast(1.5);
}
.pArticle{
    grid-area: pAr;
    background-color: black;

    border-style: groove;
    border-color: #3498db;
    border-width: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.imageFooter{
    border-style: ridge;
    border-width: 7.5px;

    grid-area: imgFt;
    background-color: aqua;
}
.pFooter{
    border-style: ridge;
    border-width: 7.5px;

    grid-area: pFt;
    background-color: black;
}
.imageFooter2{
    border-style: ridge;
    border-width: 7.5px;
    grid-area: imgFt2;
    background-color: crimson   ;
}

#logoImg{
    width: 100%;
    height: 100%;
}

#skeletonChair{
    width: 100%;
    height: 100%;
}

.logoText {
    font-family:'Times New Roman', Times, serif;
    color:#3498db;
    font-size: 5rem;
    -webkit-text-stroke-color: rgb(28, 28, 94);
    -webkit-text-stroke-width: 2.5px;
}

.anchorButton{
    border-style: dotted;

    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
    color: lightgoldenrodyellow;
    -webkit-text-stroke-color: rgb(28, 28, 94);
    -webkit-text-stroke-width: 1.5px;
}

p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;

    color: lightgoldenrodyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainImages{
    width: 50%;
    height: 30%;

    border-style:ridge;
    border-width: 5px;
    border-color: #3498db;
}

.footerImages{
    height: 100%;
    width: 100%;
}